.logo-size img{
    width: 150px;
    height: auto;
}
.box-color1 {
    background-color: #EC297B;
}
.box-color2{
    background-color: #8BC53F;
}
.box-color3{
    background-color: #F6921E;
}
/* .head-size {
    font-size: 15px;
} */
.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
    background: #002F5d;
}
.package ul li{
    font-size: 14px;
}
.footer-color{
    background: #002F5d;
}

