.logo-size img{
    width: 150px;
    height: auto;
}

/* .head-size {
    font-size: 15px;
} */
.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
    background: #013b01;
}